<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="algohub.repository.Signaling.CodeReviewMapper">
    <update id="createRoom" parameterType="hashMap">
        update mentor_room
        set chat_id = #{paramMap.uuid},
            chat_activation = 'Y'
        where m_p_id = (select m_id
                        from member
                        where m_name = #{paramMap.m_name});
    </update>
</mapper>