<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="algohub.repository.Signaling.CodeReviewMapper">
    <update id="createRoom" parameterType="java.util.Map">
        update mentor_room
        set chat_id = #{uuid},
            chat_activation = 'Y'
        where m_p_id = (select m_id
                        from member
                        where m_name = #{m_name});
    </update>

    <select id="searchRoom" resultType="algohub.domain.Signaling.CodeReview">
        select chat_id, chat_activation, (select m_name from member where m_id = m_p_id) m_name
        from mentor_room
        where m_p_id = (select m_id
                          from member
                          where m_name = #{m_name});
    </select>

    <update id="exitRoom" parameterType="String">
        update mentor_room
        set chat_id = null,
            chat_activation = 'N'
        where chat_id = #{chat_id};
    </update>
</mapper>