<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="algohub.repository.algorithm.AlgoListRepo">
    <select id="getAlgoList" resultType="java.util.Map">
        select T3.p_category, T3.p_number, T1.a_id, T1.p_title, T4.m_name, T1.p_link, group_concat(distinct T6.language separator ',') language
        from algorithm T1
        left join algorithm_category_dup T2
        on T1.a_id = T2.a_id
        left join algorithm_category T3
        on T2.a_c_id = T3.a_c_id
        left join member T4
        on T4.m_id = T1.m_id
        left join source_code T5
        on T5.a_id = T1.a_id
        left join language_category T6
        on T5.l_c_id = T6.l_c_id
        where T3.a_c_id = #{a_c_id}
        group by T1.a_id;
    </select>
</mapper>