.categories {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
  width: 18vw;
  height: 18vh;
  margin: 10px 20px 10px 0;
  border: 1px solid var(--box-color);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px 0px;
  background-color: rgba(112, 112, 112, 0.1);
  }

.category__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.label__np {
  color: blue;
  margin-bottom: 5px;
}
