.chatbox {
  width: 440px;
  height: 81vh;
  padding: 20px auto;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.chat__header {
  height: 4%;
  font-size: 1.4em;
  padding: 15px 20px;
  font-weight: bold;
  background-color: rgba(51, 50, 50, 0.205);
}
.chatlogs {
  padding: 10px;
  width: 95%;
  height: 75%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
  width: 12px;
}
.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 10px;
}

.chat__username {
  margin: 0 0 0 10px;
  font-weight: bold;
  font-size: 0.9em;
}
.chat__content {
  width: 90%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  font-size: 10px;
  background: #fff;
  line-height: 1.2em;
}

.chat__form {
  margin-top: 20px;
  display: flex;
  padding: 0 20px ;
  align-items:center;
}

.chat__form textarea {
  background: #fbfbfb;
  width: 100%;
  height: 100%;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  font-size: 0.8em;
  line-height: 1.3em;
}

.chat__form textarea:focus {
  background: #fff;
}
.chat__form textarea::-webkit-scrollbar {
  width: 8px;
}
.chat__form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat__form button {
  background: var(--primary-color);
  padding: 10px 10px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 var(--primary-color);
  cursor: pointer;
}