.App__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 1 / 3;
  width: 160px;
  background-color: var(--text-color);
  margin-right: 4px;
  color: black;
  z-index: 99;
  padding: 20px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.App__Logo {
  position: relative;
  font-family: "Orelega One", cursive;
}
.App__Logo img {
  position: absolute;
  top: 28%;
  width: 193px;
  height: 64px;
  margin-left: -15px;
}

.App__title {
  font-size: 2em;
  color: black;
  margin-left: 25px;
}

/*  nav   */
.App__nav {
  flex-grow: 2;
  margin-top: 80px;
}

.nav__item {
  line-height: 50px;
  font-weight: bold;
  margin: 5px auto;
}

.nav__item:hover {
  color: #6c757d;
  cursor: pointer;
  border-radius: 6px;
  /* background-color: var(--interactive-color); */
}

.nav__item i {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0 4px 10px;
}
