.login__login_box {
  font-family: "Orelega One", cursive;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 400px;
}
