.mentiview__mentoreviewbox {
  margin-bottom: 20px;
  max-width: 300px;
  height: 55%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px 0px;
}

.mentiview__reviewtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.mentiview__reviewtitle p {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #49b6ff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

.mentiview__reviewtitle plusbutton {
  margin-top: 10px;
}

.mentiview__reviewtitle span {
  font-size: 12px;
}

.mentiview__reviewlist {
  flex-basis: 70%;
  border-top: lightgrey 2px solid;
  margin: 20px 20px;
  margin-top: 0px;
  padding-top: 20px;
  box-sizing: border-box;
}

.mentiviewcomment__list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mentiviewcomment__image {
  border-radius: 10px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.mentiviewcomment__writer {
  text-align: left;
  margin: 0 5px;
}

.mentiviewcomment__content {
  flex-basis: 20%;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  flex-grow: 1;
}

.mentiviewcomment__date {
  font-size: 10px;
}

.mentiviewcomment__like {
  font-size: 10px;
}
