.mentoring__menitview {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mentoring__mentiviewleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 40%;
  height: 100%;
  width: 80%;
}

.mentoring__mentiviewright {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 60%;
}

.mentiview__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}

.mentiview__detailbutton {
  width: 100px;
  height: 50px;
  margin: 10px;
  background-color: #49b6ff;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}
