/* 멘토 정보 박스 가장 큰 껍데기 */
.mentiview__mentoinfobox {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 200px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px 0px;
}

/* 재사용 가능한 유저 정보 컴포넌트에 대한 껍데기 */
.mentiview__userinfo {
  display: flex;
  flex-direction: row;
  align-items: top;
  height: 70px;
  width: 100%;
}

.mentiview__userimage {
  height: 70px;
  width: 70px;
  padding-left: 20px;
}

.mentiview__usertext {
  height: 70px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
}

.mentiview__username {
  font-weight: bold;
}

.mentiview__subscribe {
  font-size: 12px;
  font-weight: bold;
  color: #49b6ff;
}

.mentiview__postinfo {
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.mentiview__mentointro {
  flex-basis: 50px;
  padding: 10px 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
}

.mentiview__followbutton {
  flex-basis: 40px;

  margin: 0 20px;
  background-color: #49b6ff;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

.mentiview__followingbutton {
  flex-basis: 40px;
  margin: 0 20px;
  background-color: lightgrey;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

.mentiview__mentobutton {
  flex-basis: 40px;
  margin: 0 20px;
  background-color: white;
  border: gold 2px solid;
  border-radius: 6px;
  color: gold;
  font-size: 18px;
  font-weight: bolder;
}

.mentiview__disabled {
  display: none;
}
