.problem {
  box-sizing: border-box;
  width: 35vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 1px 5px -1px rgba(40, 40, 93, 0.1),
    0 8px 10px -8px rgba(0, 0, 0, 0.3), 0 -6px 10px -6px rgba(0, 0, 0, 0.025);
}

.problem__title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}

.problem__link {
  margin-left: 10px;
  color: blue;
  font-weight: 500;
  font-size: initial;
}
.problem__link:hover {
  font-weight: bold;
}

.problem__info {
  display: flex;
}

.user__image {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  margin-right: 5px;
}
.problem__writer {
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (max-width: 1133px) {
  .problem {
    width: 100%;
  }
}