.section__title > a {
  font-size: 0.6em;
}

/* User */
.user__info {
  vertical-align: middle;
  margin: -10px 0 0 0;
  font-size: 1.4em;
  position: relative; 
  height: inherit;
  display: flex;
  align-items: center;
  padding: 5px;
}

.user__image {
  vertical-align: middle;
  border-radius: 20px;
}

.user__name {
  font-weight: bold;
  margin: 0 5px;
}

.user__name + i {
  cursor: pointer;
  color: red;
}

.fa-heart {
  margin-left: 10px;
}

/* Writer */
.writer__label {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.writer__codebox {
  border-radius: 10px;
  border: 1px solid var(--interactive-color);
  margin: -5px 0 0x 0;
  padding: 20px;
}

.writer__comment {
  margin-top: 10px;
  max-width: 900px;
}

.writer__content {
  font-size: 0.9em;
  border: 1px solid var(--interactive-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
  line-height: 1.5em;
}

.comment__language {
  margin-bottom: 5px;
}

.solution__btn {
  margin-left: 0;
}