.solution__source {
  margin-top: 10px;
}

.solution__container {
  margin-top: 20px;
  max-width: 900px;
}

.solution__container > img {
  vertical-align: middle;
  border-radius: 10px;
}

.solution__writer {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.solution__mname {
  font-weight: bold;
  margin: 0 5px;
}

.fa-heart {
  cursor: pointer;
}
.source__container {
  position: relative;
}
.source__container:before  {
  position: absolute;
  font-size: 0.8em;
  top: -20px;
  right: 0;
  content: '🚨 신고하기'
}


/* 수정 필요 */
.solution__mname > i {
  color: red;
}

.solution__code {
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--interactive-color);
  padding: 20px;
  margin-top: 5px;
}

.solution__comments {
  position: relative;
  padding: 29px 20px 20px;
  margin-top: -9px;
  border: 1px solid var(--interactive-color);
  border-top: 0;
  border-radius: 0 0 10px 10px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}
