/* up */
.mentor__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1000px;
}

.mentorinfo__container {
  width: 400px;
  height: 180px;
  display: flex;
  padding: 20px 20px 0;
  border: 1px solid var(--box-color);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px 0px;
  margin: 5px;
}

.profile__image {
  padding: 10px;
  width: 30%;
  box-sizing: border-box;
  /* vertical-align: middle; */
  padding-top: 10px;
  text-align: center;
}

.mentor__image {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 80%;
}

.mentor__score {
  display: inline-block;
  font-size: 0.8em;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 10px;
}

/* mentor infomation */
.mentor__info {
  padding: 10px;
  width: 70%;
}
.mentor__name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menti__number {
  color: blue;
}
.mentor__intro {
  width: 100%;
  height: 30%;
  padding-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.activity__list {
  display: inline-block;
}
.activity__list:nth-child(1) {
  margin-right: 10px;
}

.mentor__namefollow {
  display: flex;
  justify-content: space-between;
}

.mentormenti__followingbutton {
  width: 30%;
  height: 25px;
  margin-top: 3px;
  margin-right: 5px;
  background-color: lightgray;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  font-weight: bolder;
}

.mentor__activity {
  font-weight: bold;
}

.disabled {
  display: none;
}

@media (max-width: 1000px) {
  .mentor__container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .mentorinfo__container {
    width: 90%;
  }
}
