<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="algohub.repository.mentor.MentorMapper">

    <!-- 접속중인 유저의 m_p_id(idx) 가져오기 -->
    <select id="findUserID" parameterType="String" resultType="String">
        select mp.m_p_id from member m, member_profile mp
        where m.m_name = #{user} and m.m_id = mp.m_p_id;
    </select>

    <select id="getMemberState" parameterType="String" resultType="String">
        select m_p_state from member m, member_profile mp
        where m.m_id = mp.m_p_id and m.m_name = #{user};
    </select>

    <!-- 해당 멘토를 구독하고 있는 접속중인 유저의 m_p_id 조회 -->
    <select id="getSubscribeState" parameterType="String" resultType="String">
        select * from
        (select distinct ms.m_p_id as mentee
        from mentor_room mr, member_subscribe ms,
            (select mp.m_p_id from member m, member_profile mp where m.m_id = mp.m_p_id and m.m_name = #{m_name}) T1
        where mr.mr_id = ms.mr_id and T1.m_p_id = mr.m_p_id) T2
        where T2.mentee
            in (select mp.m_p_id from member m, member_profile mp where m.m_id = mp.m_p_id and m.m_name = #{user});

    </select>

    <update id="putMemberState" parameterType="String">
        update member m join member_profile mp on m.m_id = mp.m_p_id
        set mp.m_p_state = 'Y'
        where m.m_name = #{m_name};

        insert into mentor_room(
            m_p_id,
            mr_score
        ) values(
            (select m_p_id from member join member_profile where m_id = m_p_id and m_name = #{m_name}),
            0
        );
    </update>

    <select id="getMentorList" resultType="algohub.domain.mentor.MentorInfo">
        select
            m_id,
            m_name,
            m_p_image,
            m_p_intro,
            post_number,
            cm_number,
            mr_score,
            ifnull(count(ms.mr_id), 0) as m_c_number
        from
            (select
                m_id,
                m_name,
                m_p_image,
                m_p_intro,
                post_number,
                cm_number,
                mr_score,
                mr_id
            from member m, member_profile mp, mentor_room mr
            where m.m_id = mp.m_p_id and m_p_state = 'Y' and mp.m_p_id = mr.m_p_id
            ) as T
            left join member_subscribe ms
        on
            ms.mr_id = T.mr_id
        group by T.mr_id;
    </select>

    <select id="getMentor" parameterType="String" resultType="algohub.domain.mentor.MentorInfo">
        select
            m_id,
            m_name,
            m_p_image,
            m_p_intro,
            post_number,
            cm_number,
            mr_score,
            ifnull(count(ms.mr_id), 0) as m_c_number
        from
            (select
                m_id,
                m_name,
                m_p_image,
                m_p_intro,
                post_number,
                cm_number,
                mr_score,
                mr_id
            from member m, member_profile mp, mentor_room mr
            where m.m_id = mp.m_p_id and m_p_state = 'Y' and mp.m_p_id = mr.m_p_id and m.m_name = #{m_name}
            ) as T
            left join member_subscribe ms
        on
            ms.mr_id = T.mr_id
        group by T.mr_id;
    </select>

    <!-- 멘토 페이지에 등록된 게시글 조회 -->
    <select id="getMentorPage" parameterType="String" resultType="algohub.domain.mentor.MentorBoard">
        select mb_c_id, mb_id, mb_title, mb_content, mb_date
        from mentor_board mb, member m, member_profile mp
        where m.m_name = #{m_name} and m.m_id = mp.m_p_id and mb.m_p_id = mp.m_p_id;
    </select>

    <!-- 멘토 구독 -->
    <insert id="subscribeMentor" parameterType="hashMap">
        ALTER TABLE member_subscribe AUTO_INCREMENT=1;
        SET @CNT = 0;
        UPDATE member_subscribe ms SET ms.ms_id = @CNT := @CNT+1;

        insert into member_subscribe(mr_id, m_p_id)
        values(
        (select mr.mr_id from member m, member_profile mp, mentor_room mr
                where m.m_name = #{m_name} and m.m_id = mp.m_p_id and mp.m_p_id = mr.m_p_id),
        (select mp.m_p_id from member m, member_profile mp
                where m.m_name = #{user} and m.m_id = mp.m_p_id)
        );
    </insert>
    
    <!-- 멘토 구독 취소 -->
    <delete id="cancelMentorSubscription" parameterType="hashMap">
        DELETE FROM member_subscribe ms
        WHERE ms.mr_id = (SELECT mr.mr_id FROM member m, member_profile mp, mentor_room mr
                            WHERE m.m_id = mp.m_p_id AND mr.m_p_id = mp.m_p_id AND m.m_name = #{m_name})
            AND ms.m_p_id = (SELECT mp.m_p_id FROM member m, member_profile mp
                                WHERE m.m_id = mp.m_p_id AND m.m_name = #{user});

        ALTER TABLE member_subscribe AUTO_INCREMENT=1;
        SET @CNT = 0;
        UPDATE member_subscribe ms SET ms.ms_id = @CNT := @CNT+1;
    </delete>

    <!-- 멘토 게시판 글 작성 -->
    <insert id="writeMentorBoard" parameterType="hashMap">
        insert into mentor_board(
            mr_id,
            m_p_id,
            mb_c_id,
            mb_title,
            mb_content,
            mb_date
        )
            select
                mr.mr_id,
                mp.m_p_id,
                #{mentorBoard.mb_c_id},
                #{mentorBoard.mb_title},
                #{mentorBoard.mb_content},
                date_format(now(), '%y.%m.%d %H:%i')
            from member m, member_profile mp, mentor_room mr
            where m.m_name = #{user} and m.m_id = mp.m_p_id and mp.m_p_id = mr.m_p_id;

        update member_profile mp, member m
        set mp.post_number = mp.post_number + 1
        where m.m_name = #{user} and m.m_id = mp.m_p_id;
    </insert>

    <!-- 멘토 후기 작성 -->
    <insert id="writeMentorReview" parameterType="hashMap">
        insert into mentor_room_review(
            mr_id,
            ms_id,
            m_p_id,
            mr_r_content,
            mr_r_date,
            mr_r_like
        ) select distinct
            T1.mr_id, T1.ms_id, T1.m_p_id,
            #{mentorReview.mr_r_content},
            date_format(now(), '%y.%m.%d %H:%i'),
            #{mentorReview.mr_r_like}
        from
            (select distinct ms.mr_id, ms.ms_id, ms.m_p_id
                from member m, member_profile mp, mentor_room mr, member_subscribe ms
                where m.m_id = mp.m_p_id and m.m_name = #{user} and mp.m_p_id = ms.m_p_id) T1,
            (select mr.mr_id from member m, member_profile mp, mentor_room mr
                where m.m_id = mp.m_p_id and m.m_name = #{mentorReview.m_name} and mp.m_p_id = mr.m_p_id) T2
        where T1.mr_id = T2.mr_id;

        update member m, member_profile mp, mentor_room mr, mentor_room_review mre
        set mr.mr_score = (select * from (select AVG(mr_r_like)
                            from member m, member_profile mp, mentor_room mr, mentor_room_review mre
                            where m.m_id = mp.m_p_id and m.m_name = #{mentorReview.m_name} and mr.mr_id = mre.mr_id) T)
        where m.m_id = mp.m_p_id and m.m_name = #{mentorReview.m_name} and mp.m_p_id = mr.m_p_id;
    </insert>

    <select id="getMemberSubscribe" parameterType="hashMap" resultType="algohub.domain.mentor.MemberSubscribe">
        select distinct
        T1.mr_id, T1.m_p_id
        from
            (select distinct ms.mr_id, ms.ms_id, ms.m_p_id
                from member m, member_profile mp, mentor_room mr, member_subscribe ms
                where m.m_id = mp.m_p_id and m.m_name = #{user} and mp.m_p_id = ms.m_p_id) T1,
            (select mr.mr_id from member m, member_profile mp, mentor_room mr
                where m.m_id = mp.m_p_id and m.m_name = #{mentorReview.m_name} and mp.m_p_id = mr.m_p_id) T2
        where T1.mr_id = T2.mr_id;
    </select>

    <select id="getMentorReviewList" parameterType="String" resultType="algohub.domain.mentor.MentorReview">
        select distinct T1.mr_r_id, T1.mr_r_like, T1.mr_r_content, T1.mr_r_date, T2.m_name
        from
            (select mr_r_id, mr_r_like, mr_r_content, mr_r_date, mre.m_p_id
                from member m, member_profile mp, mentor_room mr, member_subscribe ms, mentor_room_review mre
                where m.m_id = mp.m_p_id and m.m_name = #{m_name} and mp.m_p_id = mr.m_p_id
                    and mr.mr_id = ms.mr_id and ms.ms_id = mre.ms_id) T1,
            (select m.m_name, mp.m_p_id
                from member m, member_profile mp
                where m.m_id = mp.m_p_id) T2
        where T1.m_p_id = T2.m_p_id;
    </select>

    <select id="getMentorRate" parameterType="hashMap" resultType="String">
        select mr_score
        from member m, member_profile mp, mentor_room mr
        where m.m_id = mp.m_p_id and m.m_name = #{m_name} and mp.m_p_id = mr.m_p_id;
    </select>

    <!-- 멘토 페이지 게시글 수정 -->
    <update id="updateMentorPost" parameterType="hashMap">
        update mentor_board
        set mb_title = #{mentorBoard.mb_title}, mb_content = #{mentorBoard.mb_content}
        where mb_id = #{mentorBoard.mb_id}
    </update>

    <!-- 멘토 페이지 게시글 삭제 -->
    <delete id="deleteMentorPost" parameterType="Integer">
        DELETE FROM mentor_board mb WHERE mb.mb_id = #{mb_id};
        ALTER TABLE mentor_board AUTO_INCREMENT=1;
        SET @CNT = 0;
        UPDATE mentor_board mb SET mb.mb_id = @CNT := @CNT+1;
    </delete>

    <!-- 멘토 리뷰 수정 -->
    <update id="updateMentorReview" parameterType="hashMap">
        UPDATE mentor_room_review mre
        SET mre.mr_r_like = #{mentorReview.mr_r_like}, mre.mr_r_content = #{mentorReview.mr_r_content}
        WHERE mre.mr_r_id = #{mentorReview.mr_r_id}
    </update>

    <!-- 멘토 리뷰 삭제 -->
    <delete id="deleteMentorReview" parameterType="Integer">
        DELETE FROM mentor_room_review mre WHERE mre.mr_r_id = #{mr_r_id};
        ALTER TABLE mentor_room_review AUTO_INCREMENT=1;
        SET @CNT = 0;
        UPDATE mentor_room_review mre SET mre.mr_r_id = @CNT := @CNT+1;
    </delete>

    <!-- 멘토 평점 갱신 (수정 및 삭제 시 사용) -->
    <update id="updateMentorRate" parameterType="String">
        SET @RATE := (SELECT AVG(mre.mr_r_like) FROM mentor_room_review mre, member m, member_profile mp
                        WHERE m.m_id = mp.m_p_id and m.m_name = #{m_name});

        UPDATE mentor_room mr, member m, member_profile mp
        SET mr.mr_score = IF(@RATE IS NULL, 0, @RATE)
        WHERE m.m_id = mp.m_p_id and mp.m_p_id = mr.m_p_id and m.m_name = #{m_name};
    </update>
</mapper>
